<p>
    <mat-toolbar>
      <span></span>
      <span></span>
    <span [routerLink]="['/']" class="title" routerLinkActive="router-link-active" >Home</span>
    <div class="ml-10">
      <span class="link" [routerLink]="['/create-team']"  routerLinkActive="router-link-active"><small><u>Create Team</u></small></span>
      <span>&nbsp;</span>
      <span class="link" [routerLink]="['/view-team']"  routerLinkActive="router-link-active"><small><u>View Team</u></small></span>
    </div>
    

    <span class="example-spacer"></span>
     
     <mat-icon class="info" title="Logout" *ngIf="_router.url != '/login'" (click)="logout()">logout</mat-icon>
  </mat-toolbar>
  </p>
  <ngx-spinner></ngx-spinner>
<router-outlet></router-outlet>
